BnsXmlMigrater/XmlMigrater/Resources/original.xsd

<?xml version="1.0" encoding="windows-1251"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="text">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="TEXT">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Unknown1" type="xs:int" />
              <xs:element name="autoId" type="xs:unsignedInt" />
              <xs:element name="autoId2" type="xs:int" />
              <xs:element name="alias" type="xs:string" />
              <xs:element name="text" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="unknown1" type="xs:unsignedByte" use="required" />
      <xs:attribute name="unknown2" type="xs:unsignedByte" use="required" />
      <xs:attribute name="unknown3" type="xs:unsignedByte" use="required" />
      <xs:attribute name="unknown4" type="xs:unsignedByte" use="required" />
      <xs:attribute name="unknown5" type="xs:unsignedByte" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>