BnsXmlEditor/Core/Resources/translate.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="text">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="TEXT">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="autoId" type="xs:unsignedInt" />
              <xs:element name="alias" type="xs:string" />
              <xs:element name="original" type="xs:string" />
              <xs:element name="replacement" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>